.home-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.home-container .first-layer{
    display: flex;
    justify-content: space-between;
}

.first-layer .title{
    font-size: 2.3rem;
    font-weight: 700;
    color: #00F2FF;
}

.first-layer .profile-name{
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.first-layer .arrow-icon{
    font-size: 3rem;
}

.second-layer{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.second-layer .sub-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.second-layer .box-balance{
    border: 2px solid #00F2FF;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.box-balance .title{
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.box-balance .value{
    text-align: center;
    letter-spacing: 2px;
}

.third-layer{
    margin-top: 2rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
}

.third-layer .amount-layer, .desc-layer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.third-layer .amount-layer .input-layer{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
}

.input-amount , .input-desc{
    padding: 1.3rem;
    background-color: white;
    color: black;
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.input-desc{
    margin-top: 1rem;
}

.btn-amount .btn{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 3rem;
    margin-left: 1.5rem;
    border-radius: 10px;
}

.btn-amount .add-btn{
    background-color: #00FF11;
    color: black;
}

.btn-amount .deduct-btn{
    background-color: #FF0000;
    color: white;
}

.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.submit-btn button{
    padding: 1rem 3rem;
    background-color: #00F2FF;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}